fastapi[standard]
uvicorn
python-dotenv

sqlalchemy
psycopg[binary]
alembic

langchain
langchain-openai
langchain-postgres
langgraph
langchain-text-splitters

pypdf
python-multipart
langchain-community

pymupdf
pillow